<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="catfacts">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Cat Facts</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pictures">
        <ion-icon name="image"></ion-icon>
        <ion-label>Cat Pictures</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="favourites">
        <ion-icon name="heart-half"></ion-icon>
        <ion-label>Favourite Facts</ion-label>
      </ion-tab-button>       
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
