<ion-card>
  <ion-progress-bar type="indeterminate" *ngIf="this.isLoading"></ion-progress-bar>

  <span><ion-img [src]='picURL' alt="Loading..." (ionImgDidLoad)="finishedLoading()" (ionImgWillLoad)="startLoading()"></ion-img></span>

  <ion-card-content *ngIf="this.breeds.length != 0 && ( this.isLoading == false && this.picURL != undefined) ">
    <div *ngFor="let breed of this.breeds" >
      <ion-card-title>{{ breed.name }}</ion-card-title>
      <ion-card-subtitle> {{ breed.description }} </ion-card-subtitle>
      <div><ion-badge *ngFor="let personality of this.personality" style="margin-right: 4px;">{{ personality }}</ion-badge></div>

      <ion-card-title style="margin-top: 4px;">Life Span</ion-card-title>
      {{ breed.life_span }}
    </div>

  </ion-card-content>
</ion-card>